* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active a:hover {
  color: #6941C6;
}

.heading1 {
  text-align: center;
  padding: 10px;
}
.nav-list {
  font-family: 'inter';
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  gap: 24px;
}
#bawahnavbar {
  margin-left: 40px;
  margin-right: 40px;
}

li:first-child {
  margin-left: 0;
}

li{
  display: inline-block;
  /* margin-left: 28px;
  padding-bottom: 22px;
  position: relative; */
}

li > a {
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: .5px;
  text-decoration: none;
  /* font-weight: 500; */
  color: #667085;
}

.nav-link:hover {
  background-color: #F2F4F7 ;
  border-radius: 5px;
}

.nav-item>.nav-link[aria-selected=true] {
 background-color: #7F56D9;
}

.nav-item>.nav-link[aria-selected=false] {
  color: #7F56D9;
 }

.nav-link a:hover {
  color: #7F56D9

}

.nav-item #services {
  text-align: center;
  align-self: center;
}

.navbar {
  min-height: auto;
  position: fixed;
}

.sub-nav {
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  display: none;
  padding: 16px;
  position: absolute;
  top: 100%;
  width: fit-content;
  /* left: auto; */
  margin-left: -280px;
  border: 1px solid #EAECF0;

  /* left: -120px; 
  padding: 16px; 
  position: absolute;
  top: 100%;
  width: 626px; */
}

#services:hover .sub-nav {
  display: flex;
  color: #101828;
} 

.sub-nav-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: auto;
  transition: 2s all ease-in-out;
  /* max-width: 50%; */
}

.sub-nav-box {
  background-color: #fdfdfd;
  border-radius: 8px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  margin: 4px 0;
  min-height: 100px;
  padding: 24px 14px 24px 96px;
  position: relative;
  text-decoration: none;
}
.sub-nav-box:hover {
  background-color: #F4EBFF;
}

.sub-nav-box h4 {
  font-family: 'Inter';
  font-style: normal ;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
  margin-bottom: 0.2rem;

  width: 232px;
  height: 24px;
}

.sub-nav-box p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;  
  color: #667085 ;
}

.icon-background {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left: 14px;
}
.card-body {
  font-family: 'inter';
}
.text-modal {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #6941C6;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  align-self: center;
  background-color: #6941C6;
}

/* .card-inner-body{
  display: grid;
  gap: 12px;
} */

.card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #101828;
}
.cardtitlecon{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  order: 0;
  flex-grow: 0;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}
a:link.cardtitlecon {
  text-decoration: none;
}
a:hover>h5 {
  color: #6941C6;
}
a:link>.icon-up-right {
  background-image: url(/static/icon/arrow-up-right.svg);
}
a:hover>.icon-up-right {
  background-image: url(/static/icon/arrow-up-right-hover.svg);
}

.icon-card-title {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-size: cover;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.badge-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #363F72;
  mix-blend-mode: multiply;
}

.tab-pane {
	column-width: auto;
	column-gap: 15px;
  width: auto;
	margin: auto;
}

.parent {
  position: relative;
}

.child {
  position: relative;
}

.childbg  {
}

.card-img-top {
  cursor: pointer;
  transition: 0.3s;
}

.card-img-top:hover {
  opacity: 0.7;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 48px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .wf-container { width: 750px; }
  }
  @media screen and (min-width: 992px) {
  .wf-container { width: 970px; }
  }
  @media screen and (min-width: 1200px) {
  .wf-container { width: 1170px; }
  }